@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
@import "tailwindcss";
@plugin "daisyui"; /*{
  themes: light --default;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.font-kode {
  font-family: "Kode Mono", monospace;
}
